<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <!--Required to receive SMS messages-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--Required to post notifications-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!--Required to identify which SIM received an SMS-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--Required to read the phone number of the SIM that received an SMS-->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <!--Required to post SMTP requests-->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMS2Email">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SMS2Email">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrashActivity"
            android:exported="false"
            android:label="App Crashed"
            android:theme="@style/Theme.SMS2Email" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="Licenses"
            android:theme="@style/Theme.SMS2Email" />
    <receiver
        android:name=".SmsReceiver"
        android:exported="true"
        android:permission="android.permission.BROADCAST_SMS">
        <intent-filter android:priority="2147483647">
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
        </intent-filter>
    </receiver>
    </application>
</manifest>
